@model EShop.Domain.DTO.UserLoginDto
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <link rel="stylesheet" href="~/css/LoginAndRegister.css" />
</head>

<div class="myContainer container">
    
    <div class="well">
        <form asp-action="Login" asp-controller="Account" method="post">
            <hgroup>
                <h1>Welcome back!</h1>
                <h2>Log in to your account.</h2>
            </hgroup>

            <div>
                @Html.TextBoxFor(m => m.Email, new { id = "login-username" })            
                <label asp-for="@Model.Email">Email</label>
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            
            <div>
                @Html.PasswordFor(m => m.Password, new { id = "login-pwd" })                
                <label asp-for="@Model.Password">Password</label>
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <button class="button" id="btn-submit" type="submit">
                <span class="button-text">Log In</span>
            </button>
        </form>

        <p>Don't have an account? <a asp-action="Register" asp-controller="account">Sign Up</a>.</p>
    </div>

    <img src="~/images/cinema-icon.jpg" alt="image">
</div>

