@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model EShop.Domain.DTO.UserRegistrationDto

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/LoginAndRegister.css" />
</head>


<div class="myContainer container">
    <div class="well">
        @Html.ValidationSummary()
        <form asp-action="Register" asp-controller="Account" method="post">
            <hgroup>
                <h1>Welcome!</h1>
                <h2>Sign Up.</h2>
            </hgroup>

            
            <div>
                @Html.TextBoxFor(m => m.Email, new { id = "login-username" })
                <label asp-for="@Model.Email">Email</label>
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <div>
                @Html.TextBoxFor(m => m.Name, new { id = "login-username" })
                <label asp-for="@Model.Name">First Name</label>
                @Html.ValidationMessageFor(m => m.Name)
            </div>

            <div>
                @Html.TextBoxFor(m => m.LastName, new { id = "login-username" })
                <label asp-for="@Model.LastName">Last Name</label>
                @Html.ValidationMessageFor(m => m.LastName)
            </div>

            <div>
                @Html.TextBoxFor(m => m.PhoneNumber, new { id = "login-username" })
                <label asp-for="@Model.PhoneNumber">Phone number</label>
                @Html.ValidationMessageFor(m => m.PhoneNumber)
            </div>


            <div>
                @Html.PasswordFor(m => m.Password, new { id = "login-pwd" })
                <label asp-for="@Model.Password">Password</label>
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div>
                @Html.PasswordFor(m => m.ConfirmPassword, new { id = "login-pwd" })
                <label asp-for="@Model.ConfirmPassword">Confirm password</label>
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <button class="button" id="btn-submit" type="submit">
                <span class="button-text">Sign Up</span>
            </button>
        </form>

        <p class="mt-3">Already have an account? <a asp-action="Login" asp-controller="Account">Sign In</a>.</p>
    </div>

    <img src="https://static.vecteezy.com/system/resources/previews/025/365/908/original/cinema-icon-movie-illustration-symbol-movie-house-sign-or-logo-vector.jpg" alt="image">
</div>


 